# WeChat 开发者工具本机私有配置（可能含上传密钥，勿入库）
project.private.config.json

# 依赖
node_modules/

# 系统文件
.DS_Store

# 环境变量
env.js

# 云开发缓存
.cloudbase/

# 云函数依赖
cloudfunctions/*/node_modules/

#编辑器、系统文件
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log